body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(230deg,#000,#000, #ff6600,#ff6600);
    color: #fff;
}
.logo {
    font-family: 'Pacifico', cursive; /* Applying the beautiful font */
    font-size: 28px; /* Making it larger */
    color: #fff; /* Using a bright color to make it stand out */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding a shadow for more emphasis */
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1); /* Slightly enlarging the text on hover */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #000;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    
}

nav a.join-now {
    background: #ff6600;
    padding: 10px 20px;
    border-radius: 5px;
}

main {
    padding: 20px;
    background: transparent;
}

.authors {
    text-align: center;
}

.authors h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.profile {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    animation: borderAnimation 2s infinite;
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for the hover effect */
}

.profile:nth-child(even) {
    flex-direction: row-reverse;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 20px;
}

.profile .about {
    flex: 1;
}
.profile:hover { 
    transform: scale(1.05); /* Add scale thigny effect on hover */ 
    box-shadow: 0 0 10px #ff6600; /* Add box shadow stuff on hover */ 
}

@keyframes borderAnimation { 
    0% { border-color: #000; }
    50% { border-color: #ff6600; }
    100% { border-color: #000; }
}
.contact { 
    text-align: center; 
    margin-top: 40px; 
} 
.contact h2 { 
    font-size: 28px; 
    margin-bottom: 20px; 
} 
.contact-info { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
.contact-info a { 
    color: #fff; 
    text-decoration: none; 
    font-size: 20px; 
    margin: 10px; 
    transition: color 0.3s; 
    display: flex; 
    align-items: center;
} 
.contact-info a:hover { 
    color: #000000; 
} 
.contact-info i { 
    margin-right: 10px; 
}
footer {
    text-align: center;
    padding: 20px;
    background: transparent;
    color: #fff;
}
