body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(230deg,#ff6600,#ff6600,#000,#000, #000);
    color: #fff;
    /* background: linear-gradient(230deg,#ff0000,#ff0000,#000,#000, #000); */

    
}

.logo {
    font-family: 'Pacifico', cursive; /* Applying the beautiful font */
    font-size: 28px; /* Making it larger */
    color: #fff; /* Using a bright color to make it stand out */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding a shadow for more emphasis */
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1); /* Slightly enlarging the text on hover */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #000;
    position: fixed;
    width: 100%;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a.join-now {
    background: #ff6600;
    padding: 10px 20px;
    border-radius: 5px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    height: 400px;
    
}

.hero-text {
    max-width: 45%;
}

.hero-text h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
}


.reg-button {
    background: #ff6600;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero-carousel {
    max-width: 45%;
    margin-left: 5%;
    position: fixed;

}

.hero-carousel img {
    max-width: 100%;
    border-radius: 10px;
    width: fit-content;
}
  
  /* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: #050303;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    width: 100%;
    text-align: center;
}
  
.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
  
.modal h2 {
    margin-top: 0;
    font-size: 24px;
}
  
.modal p {
    font-size: 14px;
    color: #666;
}
  
.modal form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
  
.modal label {
    font-size: 14px;
    margin-top: 10px;
    color: #333;
    text-align: left;
}
  
.modal input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #050505;
    border-radius: 4px;
}
  
.modal button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: not-allowed;
}
  
.modal button:enabled {
    background-color: #ff6600;
    color: white;
    cursor: pointer;
}
  
.modal button:enabled:hover {
    background-color: #ad4500;
}
  
.modal a {
    color: #ff6803;
    text-decoration: none;
}
  
.modal a:hover {
    text-decoration: underline;
  }
    

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: transparent;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    height: 100px; 
}

.stat { 
    background: transparent; 
    padding: 20px; 
    border-radius: 30px; 
    text-align: fit; 
    flex: 1; 
    margin: 0 10px; 
    border: 1px solid #555; 
    font-size: 16px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.stat p {
    font-size: 16px;
    margin-bottom: 10px;
}

.stat h2 {
    font-size: 24px;
    margin: 0;
}
.about-us { 
    padding: 40px 20px; 
    text-align: center; 
    background: transparent; 
    color: #fff; 
    margin-top: 20px; 
    border-radius: 10px; 
} 
.about-us h2 { 
    font-size: 36px; 
    margin-bottom: 20px; 
    font-family: 'Bebas Neue', sans-serif;
} 
.about-us p { 
    font-size: 18px; 
    margin-bottom: 20px; 
    line-height: 1.5; 
}
.games { 
    padding: 20px; 
    background: transparent; 
} 
.games h2 { 
    text-align: center; 
    margin-bottom: 20px; 
} 
.games-container { 
    display: flex; 
    overflow-x: scroll; 
    padding: 10px; 
} 
.game { 
    flex: 0 0 auto; 
    width: 200px; 
    margin-right: 10px; 
} 
.game img { 
    max-width: 100%; 
    border-radius: 10px; 
}
.faq { 
    padding: 20px; 
    background: transparent; 
} 
.faq h2 { 
    text-align: center; 
    margin-bottom: 20px; 
} 
.faq-item { 
    margin-bottom: 10px; 
} 
.faq-question { 
    width: 100%; 
    padding: 10px; 
    text-align: left; 
    background: #333; 
    border: none; 
    outline: none; 
    color: #fff; 
    cursor: pointer; 
    border-radius: 5px; 
} 
.faq-question.active { 
    background: transparent; 
} 
.faq-answer { 
    display: none; 
    padding: 10px; 
    background: #444; 
    border-radius: 5px; 
    margin-top: 5px; 
}

.event-news {
    padding: 40px 20px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

.event-news-heading {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.event-news-article {
    margin-bottom: 20px;
}

.event-news-article h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.event-news-article p {
    font-size: 16px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: transparent;
    color: #fff;
    /* position: fixed;
    max-width: 100%; */
}

Custom styles for the venue page
.venue-header {
    background: linear-gradient(230deg,#ff6600,#ff6600,#000,#000, #000);
    padding: 100px 0;
    text-align: center;
    color: white;
}
.venue-header h1 {
    font-size: 3em;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}
.venue-container {
    padding: 40px 20px;
    color: white;
    background-color: #333;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}
.venue-description {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
}
.map-container {
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.venue-image {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}
iframe {
    width: 100%;
    height: 100%;
    border: 0;
}